/* Variables */
/* Global */
body {
  font-family: "Montserrat", sans-serif;
  color: #808080;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 96px 0;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 40px;
}

.section-subtitle,
.card-subtitle {
  font-family: "Arapey", serif;
  margin-bottom: 80px;
  font-style: italic;
}

.card {
  text-align: center;
}

.card-title {
  color: #000;
}

/* Navigation */
.navigation ul {
  list-style: none;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0 auto;
  padding: 15px;
  -ms-flex-align: center;
      align-items: center;
}

.list-item a {
  margin-right: 24px;
  text-transform: uppercase;
}

.list-item a:hover {
  color: #fed136;
}

.brand {
  padding: 15px;
  font-family: "Pinyon Script", cursive;
  color: #fed136;
  font-size: 32px;
}

.brand:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/golden-1.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.splash-inner {
  width: 80%;
  margin: 10% auto auto auto;
  text-align: center;
}

.page-title {
  font-family: "Arapey", serif;
  color: #fff;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0;
}

.page-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 75px;
  text-transform: uppercase;
  margin: 30px auto;
  line-height: normal;
}

.btn {
  background: #fed136;
  display: inline-block;
  padding: 10px;
}

.btn:hover {
  transform: scale(1.1);
}

/* Services */
.icon {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 20px;
  text-align: center;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon:hover {
  transform: scale(1.1);
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
}

.portfolio .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .card {
  padding: 0;
  background: #fff;
  max-width: 290px;
  margin-bottom: 30px;
}

.card-subtitle {
  margin-bottom: 35px;
}

.image {
  height: 300px;
  position: relative;
}

.image::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 300px;
  width: 290px;
  background: #fed136;
  opacity: 0.5;
  display: none;
}

.image:hover .overlay, .image:hover::before {
  display: block;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.overlay {
  position: absolute;
  width: 290px;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.5;
  display: none;
}

/* Footer */
.foot {
  height: 120px;
}

.foot a {
  color: #808080;
  font-weight: bold;
}

.foot:hover {
  color: #fed136;
}

.foot .row {
  height: 120px;
  -ms-flex-align: center;
      align-items: center;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline-block;
  font-size: 0;
  margin: 0 5px;
}

.social-media li a {
  color: #fff;
}

.social-media li a i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  padding: 10px;
  line-height: 20px;
}

.social-media i:hover {
  background: #fed136;
  color: #000;
}

/* Media */
@media (max-width: 767px) {
  section {
    padding: 20px 0;
  }
  .section-subtitle {
    margin-bottom: 30px;
  }
  .navigation .row {
    text-align: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .navigation .row ul {
    padding: 0;
  }
  .brand {
    padding-bottom: 0;
  }
  .splash-inner {
    width: 100%;
  }
  .page-title {
    font-size: 24px;
  }
  .page-subtitle {
    font-size: 36px;
  }
  .service {
    padding-bottom: 30px;
  }
  .foot {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */